

header{
    background-color: rgb(238, 233, 233);
}
body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr ;
}
main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: antiquewhite;
    }
.Titulo { grid-area: 1 / 1 / 2 / 3; 
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        }
#derecha{
    background-color: rgba(255, 182, 193, 0.357);
}
.marcador{
  
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "Scoreboard Scoreboard"
    "victories defeats"; 

    border: 1px solid black;
    width: 300px;
    height: 150px;
    background-color: rgb(197, 192, 192)
}
.victories{
    grid-area: victories;
    display: flex;

    flex-direction: column;
    border: 1px solid black;
    background-color: rgb(197, 192, 192)
}
.defeats { grid-area: defeats;
    border: 1px solid black; }
.colour{
    border: 1px solid black;
    width: 150px;
    height: 150px;
    background-color: rgb(197, 192, 192);

}
#izquierda{
    display: flex;
    flex-direction: column;
    background-color: rgb(184, 207, 214);
    }




.PickaColor { 
    grid-area: 2 / 2 / 3 / 3;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;

}
.Cubo {
    border: 1px solid black;
    width: 150px;
    height: 150px;
    background-color: rgb(197, 192, 192)
}
.Random{
    border: 1px solid black;
    width: 150px;
    height: 150px;
    background-color: rgb(197, 192, 192);
    
}

.Footer { grid-area: 3 / 1 / 4 / 3;
    background-color: rgba(255, 255, 0, 0.446);
    display: flex;
}